POSTGRES_URL="postgres://b50a5d93b0b03d04cad9acdec8a1ca17c1192f23da5645e54d6468983a47dfaa:sk_WgWNWeWs56kLXWEHjGbf0@db.prisma.io:5432/postgres?sslmode=require"
PRISMA_DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza19XZ1dOV2VXczU2a0xYV0VIakdiZjAiLCJhcGlfa2V5IjoiMDFLM1FLOE40MFM0QVJYWUoxVlpKNVg4V1giLCJ0ZW5hbnRfaWQiOiJiNTBhNWQ5M2IwYjAzZDA0Y2FkOWFjZGVjOGExY2ExN2MxMTkyZjIzZGE1NjQ1ZTU0ZDY0Njg5ODNhNDdkZmFhIiwiaW50ZXJuYWxfc2VjcmV0IjoiY2Y1OWNkZmItZDQ0ZS00MzMyLWJjNmQtY2ZmNTgyZDg2MTI3In0.ADm5kmmChgFd_hx0nDQ40ae4L6SSW__UwKyaoZphXNc"
DATABASE_URL="postgres://b50a5d93b0b03d04cad9acdec8a1ca17c1192f23da5645e54d6468983a47dfaa:sk_WgWNWeWs56kLXWEHjGbf0@db.prisma.io:5432/postgres?sslmode=require"
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production"
NEXTAUTH_SECRET="your-nextauth-secret-key-change-this-in-production" 